<div class="hero">
    <div class="container">
        //= navbar.html
        <div class="hero-box">
            <h1 class="hero-title">"Боровики - 2"</h1>
        </div>

        <div class="hero-description">
            <strong>"Боровики - 2"</strong> - это единственный поселок бизнес-класса в "Долине имений". Жители по праву могут рассчитывать и на отличные дороги (монолитное бетонное покрытие), и на спрятанные под землей инженерные коммуникации, включая линии электропередач (никаких столбов и проводов над головой). И, конечно, такой поселок просто призван быть расположенным в отличном месте: всего в трех километрах от­ города Боровска и на таком же расстоянии­ от уникального этнографического парка "Этномир", без преувеличения - жемчужины Боровского района! С трех сторон окруженный густым лесом, КП "Боровики - 2" расположен на возвышенности, с которой открывается великолепный панорамный вид на живописную долину реки Протва.
        </div>
        
        //= callback-widget.html
    </div>
</div>